@import "tailwindcss";

@theme {
    --color-dark-main: #18191A;
    --color-dark-second: #242526;
    --color-dark-third: #3A3B3C;
    --color-dark-txt: #b0b3b8;
    --color-second-txt: #b0b3b8;
    --color-primary-button-background: #0866ff;
    --color-primary-txt: #e2e5e9;
  }