@layer base {
  * {
    box-sizing: border-box;
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
  }
}
@import "tailwindcss";

@theme {
  --color-dark-main: #18191a;
  --color-dark-second: #242526;
  --color-dark-third: #3a3b3c;
  --color-dark-txt: #b0b3b8;
  --color-second-txt: #b0b3b8;
  --color-dark-button-bg: rgba(255, 255, 255, .1);
  --color-dark-hover: rgba(255, 255, 255, .9),
  --color-primary-button-background: #0866ff;
  --color-primary-txt: #e2e5e9;
}
@custom-variant dark (&:where(.dark, .dark *));
